@import "../../assets/styles/common-styles.scss";

/* Header pets */

.header-container {
    padding: 3rem 0;
    position: fixed;
    background-color: $color-light-xl;
}

.logo__title { color: $color-dark-l; }
.logo__subtitle { color: $color-dark-3xl; }

.list {

    .list__link {
        color: $color-dark-l;
        &:hover {
            color: $color-dark-3xl;
        }  
    }
    
     .list__item_active a { color: $color-dark-3xl;}
}

/* Friends */

.friends-container { 
    background-color: $color-light-l;
    padding-top: 12rem; 
}

.friends {
    padding: 8rem 0 10rem;
    flex-direction: column;
    align-items: center;

    &__title {
        @include h3;
        text-align: center;
    }
}

.slider-cards {
    display: flex;
    margin: 4.5rem 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.slider-buttons { display: flex; }

.slider-button {
    &:not(:last-child) { margin-right: 2rem; }
    &_active { background-color: $color-primary; }
}

.card-container {
    margin: 1.5rem 0;
}

/* Tablet */

@media (max-width: 1279px) {

    /* Header */

    .header-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .header {
        max-width: 100%;
    }

    /* Friends */

    .friends {
        padding-bottom: 7.6rem;
    }
    
    .slider-cards {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        max-width: 87.5%;
        justify-content: center;
    }

    .card-container {
        width: 50%;
        &:nth-child(n + 7) { display: none; }
    }

    .slider-card {
        width: fit-content;
        margin: auto;
    }
}

/* Mobile */

@media (max-width: 767px) {

    /* Header */

    .header-container {
        padding-right: 5.3rem;
        padding-left: 3%;
    }

    .header { max-width: 100%; }
    .menu { display: none; }

    .burger-menu {
        display: initial;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }

   /* Friends */

   .friends {
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;

        &__title {
            @include h3-mobile;
            p {
                display: inline-block;
            }
        }
    }

    .slider-cards {
        margin-top: 2.7rem;
        margin-bottom: 2.7rem;
        max-width: 100%;
    }

    .card-container {
        width: 100%;
        &:nth-child(n + 4) { display: none; }
    }

    .slider-button:not(:last-child) { margin-right: 1rem; }
   
}