@import "../../assets/styles/common-styles.scss";

/* Header main */

.header-container {
    padding: 6rem 0;
    position: absolute;
}

/* Start screen */

.start-screen-container { 
    background: $color-background-header;
    padding-top: 18rem; 
}

.start-screen {
    justify-content: space-between;
    align-items: center;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 39%;
        margin-bottom: 8rem;

        &__title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 4.4rem;
            font-weight: 400;
            line-height: 130%;
            color: $color-light-xl;
        }
        
        &__subtitle {
            @include paragraph-l;
            color: $color-dark-s;
            margin: 4.2rem 0;
        }
        
        &__button { @include button_primary; }
    }
}

/* About */

.about {
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 10rem;

    &-content {
        margin-left: 10%;
        max-width: 36%;

        &__title { @include h3; }

        &__text {
            @include paragraph-l;
            color: $color-dark-xl;
        }
    
        &__text p:first-child { padding: 2.5rem 0; }
    }
}

/* Friends */

.friends-container { background-color: $color-light-l; }

.friends {
    padding: 8rem 0 10rem;
    flex-direction: column;
    align-items: center;

    &__title {
        @include h3;
        text-align: center;
    }

    &__button { @include button_primary; }
}

.slider {
    display: flex;
    margin: 6rem 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &-button__icon { 
            margin: 2.1rem 1.7rem;
        }

    &-cards {
        display: flex;
        align-items: center;
    }
    &-card:not(:nth-child(3n)) { margin-right: 9rem; }
    &-card.hidden {
        display: none;
    }
}

/* Help */

.help {
    padding-top: 8rem;
    padding-bottom: 10rem;
    flex-direction: column;
    
    &__title {
        @include h3;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            margin: 5.5rem 6rem 0;
            text-align: center;

            img {
                margin-bottom: 2.7rem;
            }
        }
    
        &__title { @include h4; }
    }
}

/* Donation */

.donation-container { background-color: $color-light-l; }
.donation {
    justify-content: center;
    align-items: center;
    padding-top: 8.1rem;
    padding-bottom: 10rem;

    &-content {
        max-width: 31.6%;
        margin-left: 2.5%;
        display: flex;
        flex-direction: column;

        &__title {
            @include h3;
            margin-bottom: 2rem;
        }

        &__bank {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.5rem;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: $color-dark-l
        }

        &__card {
            display: flex;
            background: $color-primary;
            border-radius: 9px;
            align-items: center;
            padding: 1rem 1.5rem;
            margin: 2rem 0;
            max-width: fit-content;
            
            &-number {
                @include h4;
                text-decoration: none;
                margin-left: 1.5rem;
                &:hover {
                    transform: scale(1.01);
                }
            }
        }

        &__legal {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-size: 1.2rem;
            line-height: 150%;
            color: $color-dark-m;
        }
    }  
}

/* Tablet */

@media (max-width: 1279px) {

    /* Header */

    .header-container {
        padding: 3rem 3rem 6rem;
    }

    .header {
        max-width: 100%;
    }

    /* Start screen */   

    .start-screen-container { 
        padding-top: 15rem; 
    }

    .start-screen {
        flex-direction: column;
    
        &-content {
            max-width: 65%;
            margin-bottom: 10rem;
            
            &__button { align-self: center; }
        }

        &__img-wrapper {
            align-self: flex-end;
            max-width: 56.9rem;
        }
    }
    
    /* About */

    .about {
        flex-direction: column-reverse;

        &-content {
            margin-left: 0;
            margin-bottom: 8rem;
            max-width: 61%;
        }
    }

    /* Friends */

    .slider {

        &-cards {
            width: 82.4%;
            justify-content: center;
        }

        &-card {
            &:nth-child(3) { display: none; }
            &:not(:first-child) { margin-right: 0 }
            &:first-child { margin-right: 7% }
        }
    }

    /* Help */

    .help-list__item {
        width: 24%;
        margin: 5.5rem 4.22% 0;
    }

    /* Donation */

    .donation {
        flex-direction: column-reverse;

        &-content {
            max-width: 54%;
            margin-left: 0;
            margin-bottom: 6rem;
        }  
    }
}

/* Mobile */

@media (max-width: 767px) {

    /* Header */

    .header-container {
        padding-right: 5.3rem;
        padding-left: 3%;
    }

    .header { max-width: 100%; }

    .burger-menu {
        display: initial;    
    }

    .menu {
        background-color: $color-dark-3xl;
        width: 32rem;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        z-index: 10;
        top: 0;
        right: -32rem;
        transform: translateX(0);
        transition: transform 300ms ease-in-out; 
        padding: 3rem 1rem 0;
        padding-top: 24.8rem;

        .list {
            flex-direction: column;
            width: 100%;
            &__item:not(:last-child) { margin-bottom: 4rem; }
            &__link { font-size: 3.2rem; }
        }  
    }

    /* Start screen */   

    .start-screen-container { 
        padding-top: 15rem; 
    }

    .start-screen {
        flex-direction: column;
    
        &-content {
            max-width: 100%;
            margin-bottom: 10.5rem;
            align-items: center;
            text-align: center;

            &__title {
                @include h3-mobile;
                color: $color-light-xl;
                p {
                    display: inline-block;
                } 
            }
        }

        &__img-wrapper {
            max-width: 86.6%;
            img {
                max-width: 56.9rem;
            }
        }
    }
    
    /* About */

    .about {
        padding: 4.2rem 0;
        
        &-content {
            margin-bottom: 4.2rem;
            max-width: 90%;
            text-align: justify;
            &__title {
                @include h3-mobile;
                p {
                    display: inline-block;
                }
            }
        }

        &__img-wrapper {
            max-width: 86.6%;
        }
    }

    /* Friends */

    .friends {
        padding-top: 4rem;
        padding-bottom: 4.2rem;

        &__title {
            @include h3-mobile;
            p {
                display: inline-block;
            }
        }
    }

    .slider {
        margin: 4.2rem 0;
        flex-wrap: wrap;
        justify-content: center;

        &-cards {
            margin-bottom: 2rem;
            width: 100%;
            order: -1;
        }

        &-card {
            &:first-child { margin: 0; }
            &:nth-child(2) { display: none; }
        }

        &-button:first-child {
            margin-right: 26.6%;
        }
    }

    /* Help */

    .help {

        padding: 4.2rem 0;

        &__title {
            @include h3-mobile;
            margin-bottom: 1.2rem;
            p {
                display: inline-block;
            }
        }
    }

    .help-list {
        justify-content: left;
        align-items: center;

        &__item { 
            width: 47%;
            margin: 0;
            margin-top: 3rem;
    
                &:nth-child(odd) {
                    margin-right: 6%;
                }
            
                img {
                    max-width: 35.5%;
                    margin-bottom: 1.8rem;
                }
        }

        &__title {
            @include h5;
        }
    }

    /* Donation */

    .donation {
        padding: 4.2rem 0;

        &__img-wrapper { max-width: 87%; }

        &-content {
            max-width: 93.7%;
            margin-bottom: 4.2rem;
            align-items: center;

            &__title {
                @include h3-mobile;
                p { display: inline-block; }
            }

            &__bank {
                @include paragraph-l;
                letter-spacing: 0;
            }

            &__card-number { @include h5; }
            &__legal { text-align: justify; }
        }  
    }
}