@charset "UTF-8";
/* Variables */
/* Fonts */
@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia/Georgia.eot");
  src: local("Georgia"), url("../fonts/Georgia/Georgia.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia/Georgia.woff2") format("woff2"), url("../fonts/Georgia/Georgia.woff") format("woff"), url("../fonts/Georgia/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../fonts/Georgia/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../fonts/Georgia/Georgia-Bold.woff") format("woff"), url("../fonts/Georgia/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Mixin */
/* Common */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

.content__img {
  display: block;
  width: 100%;
  height: auto;
}

/* Wrapper */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1279px) {
  .wrapper {
    max-width: 92.18%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 93.75%;
  }
}

/* Header */
.header-container {
  width: 100%;
  overflow: hidden;
}

.header-container h1 {
  width: 1px;
  height: 1px;
  opacity: 0;
  margin: 0 auto;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.logo:hover {
  cursor: pointer;
}

.logo__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  line-height: 110%;
}

.logo__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  line-height: 110%;
  margin-top: 1rem;
  text-align: center;
}

.logo.main .logo__title {
  color: #F1CDB3;
}

.logo.main .logo__subtitle {
  color: #FFFFFF;
}

.logo.active {
  position: fixed;
  top: 30px;
  right: 124px;
  z-index: 15;
}

.menu .list {
  width: 44.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-bottom: 0.5rem;
}

.menu .list__link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
}

.menu .list__item_active {
  padding-top: 0.3rem;
  border-bottom: 3px solid #F1CDB3;
}

.menu.main .list .list__link {
  color: #CDCDCD;
}

.menu.main .list .list__link:hover {
  color: #FAFAFA;
}

.menu.main .list .list__item_active a {
  color: #FAFAFA;
}

.menu.main .list .list__item_disabled {
  cursor: default;
}

.menu.main .list .list__item_disabled a {
  pointer-events: none;
  text-decoration: none;
}

.menu.active {
  -webkit-transform: translateX(-32rem);
          transform: translateX(-32rem);
}

.burger-menu {
  display: none;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  z-index: 15;
  right: 5.3rem;
  top: 4.9rem;
}

.burger-menu:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.burger-menu.active {
  position: fixed;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-menu.active line {
  stroke: #F1CDB3;
}

/* Friends */
.slider-button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border-radius: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem 4.5rem;
  background: none;
  border: 2px solid #F1CDB3;
  padding: 1.3rem 4.3rem;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  padding: 0;
}

.slider-button:hover {
  background: #FDDCC4;
}

.slider-button:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.slider-button:disabled {
  border: 2px solid #CDCDCD;
  background: none;
  color: #CDCDCD;
  cursor: initial;
}

.slider-card {
  -webkit-animation-name: FadeIn;
          animation-name: FadeIn;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
}

.slider-card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.slider-card__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 3.1rem;
}

.slider-card__button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border-radius: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem 4.5rem;
  background: none;
  border: 2px solid #F1CDB3;
  padding: 1.3rem 4.3rem;
  margin: 3rem auto;
}

.slider-card__button:hover {
  background: #FDDCC4;
}

.slider-card__button:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.slider-card__button:disabled {
  border: 2px solid #CDCDCD;
  background: none;
  color: #CDCDCD;
  cursor: initial;
}

.slider-card.active {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Footer */
.footer-container {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 4rem;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem;
}

.footer-content__contacts {
  margin-right: 16rem;
}

.footer-content__contacts a:nth-child(2) {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer-content__location a:nth-child(2) {
  margin-top: 3.4rem;
  margin-bottom: 3.2rem;
}

.footer-content__location a:nth-child(2) span span {
  display: block;
}

.footer-content__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  color: #FFFFFF;
}

.footer-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  color: #F1CDB3;
  text-align: left;
}

.footer-content__icon {
  margin-right: 2rem;
}

/* Footer tablet*/
@media (max-width: 1279px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3rem;
  }
  .footer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 6.5rem;
    width: 100%;
  }
  .footer-content__contacts {
    margin-right: 8.5%;
  }
}

/* Footer mobile*/
@media (max-width: 767px) {
  .footer__img-wrapper {
    max-width: 86.7%;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content__contacts {
    margin-right: 0;
    margin-bottom: 4rem;
  }
  .footer-content__contacts a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-content__location a:nth-child(2) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .footer-content__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 91.8vw;
  }
  .footer-content__title p {
    display: inline;
  }
}

/* Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFA;
  border-radius: 9px;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  width: 900px;
  z-index: 10;
}

.popup-content {
  padding-top: 50px;
  margin-right: 2rem;
  max-width: 35.1rem;
}

.popup-content__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 1rem;
  text-align: left;
}

.popup-content__subtitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 4rem;
  text-align: left;
}

.popup-content__info {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 4rem;
  text-align: left;
  line-height: 115%;
}

.popup-content__ul {
  list-style-type: none;
  list-style-position: inside;
}

.popup-content__ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  line-height: 115%;
  text-align: left;
}

.popup-content__ul li strong {
  font-weight: 700;
}

.popup-content__ul li:not(:last-child) {
  margin-bottom: 1.1rem;
}

.popup-content__ul li:before {
  content: "•";
  padding-right: .4rem;
  color: #F1CDB3;
}

.popup__img img {
  border-radius: 9px;
  width: 500px;
}

.popup.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.close-button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border-radius: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem 4.5rem;
  background: none;
  border: 2px solid #F1CDB3;
  padding: 1.3rem 4.3rem;
  padding: 0;
  width: 52px;
  height: 52px;
  position: absolute;
  top: -52px;
  right: -42px;
}

.close-button:hover {
  background: #FDDCC4;
}

.close-button:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.close-button:disabled {
  border: 2px solid #CDCDCD;
  background: none;
  color: #CDCDCD;
  cursor: initial;
}

.overlay {
  opacity: 0;
  position: fixed;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(41, 41, 41, 0.6);
  pointer-events: none;
}

.overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* Popup tablet*/
@media (max-width: 1279px) {
  .popup {
    width: 630px;
  }
  .popup__img img {
    width: 350px;
  }
  .popup-content {
    padding-top: 1rem;
    margin-right: .9rem;
    max-width: 26.2rem;
  }
  .popup-content__subtitle {
    margin-bottom: 2rem;
  }
  .popup-content__info {
    font-size: 1.3rem;
    line-height: 110%;
    margin-bottom: 2rem;
  }
  .popup-content__ul li {
    line-height: 120%;
  }
  .popup-content__ul li:not(:last-child) {
    margin-bottom: .5rem;
  }
  .popup-content__ul li:before {
    padding-right: .7rem;
  }
}

/* Popup mobile*/
@media (max-width: 767px) {
  .popup {
    width: 240px;
  }
  .popup__img {
    display: none;
  }
  .popup-content {
    padding: 1rem;
    margin: 0;
  }
  .popup-content__title {
    text-align: center;
  }
  .popup-content__subtitle {
    text-align: center;
  }
  .popup-content__info {
    margin-bottom: 2.4rem;
    text-align: justify;
  }
  .close-button {
    right: -29px;
  }
}

/* Header main */
.header-container {
  padding: 6rem 0;
  position: absolute;
}

/* Start screen */
.start-screen-container {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 18rem;
}

.start-screen {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 39%;
  margin-bottom: 8rem;
}

.start-screen-content__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
}

.start-screen-content__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
  margin: 4.2rem 0;
}

.start-screen-content__button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border-radius: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem 4.5rem;
}

.start-screen-content__button:hover {
  background: #FDDCC4;
}

/* About */
.about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.about-content {
  margin-left: 10%;
  max-width: 36%;
}

.about-content__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-content__text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}

.about-content__text p:first-child {
  padding: 2.5rem 0;
}

/* Friends */
.friends-container {
  background-color: #F6F6F6;
}

.friends {
  padding: 8rem 0 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.friends__button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border-radius: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem 4.5rem;
}

.friends__button:hover {
  background: #FDDCC4;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-button__icon {
  margin: 2.1rem 1.7rem;
}

.slider-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-card:not(:nth-child(3n)) {
  margin-right: 9rem;
}

.slider-card.hidden {
  display: none;
}

/* Help */
.help {
  padding-top: 8rem;
  padding-bottom: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 0.5rem;
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-list__item {
  margin: 5.5rem 6rem 0;
  text-align: center;
}

.help-list__item img {
  margin-bottom: 2.7rem;
}

.help-list__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

/* Donation */
.donation-container {
  background-color: #F6F6F6;
}

.donation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8.1rem;
  padding-bottom: 10rem;
}

.donation-content {
  max-width: 31.6%;
  margin-left: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donation-content__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 2rem;
}

.donation-content__bank {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-content__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1CDB3;
  border-radius: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.donation-content__card-number {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  text-decoration: none;
  margin-left: 1.5rem;
}

.donation-content__card-number:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.donation-content__legal {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}

/* Tablet */
@media (max-width: 1279px) {
  /* Header */
  .header-container {
    padding: 3rem 3rem 6rem;
  }
  .header {
    max-width: 100%;
  }
  /* Start screen */
  .start-screen-container {
    padding-top: 15rem;
  }
  .start-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start-screen-content {
    max-width: 65%;
    margin-bottom: 10rem;
  }
  .start-screen-content__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .start-screen__img-wrapper {
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 56.9rem;
  }
  /* About */
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-content {
    margin-left: 0;
    margin-bottom: 8rem;
    max-width: 61%;
  }
  /* Friends */
  .slider-cards {
    width: 82.4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-card:nth-child(3) {
    display: none;
  }
  .slider-card:not(:first-child) {
    margin-right: 0;
  }
  .slider-card:first-child {
    margin-right: 7%;
  }
  /* Help */
  .help-list__item {
    width: 24%;
    margin: 5.5rem 4.22% 0;
  }
  /* Donation */
  .donation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .donation-content {
    max-width: 54%;
    margin-left: 0;
    margin-bottom: 6rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  /* Header */
  .header-container {
    padding-right: 5.3rem;
    padding-left: 3%;
  }
  .header {
    max-width: 100%;
  }
  .burger-menu {
    display: initial;
  }
  .menu {
    background-color: #292929;
    width: 32rem;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    z-index: 10;
    top: 0;
    right: -32rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    padding: 3rem 1rem 0;
    padding-top: 24.8rem;
  }
  .menu .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .menu .list__item:not(:last-child) {
    margin-bottom: 4rem;
  }
  .menu .list__link {
    font-size: 3.2rem;
  }
  /* Start screen */
  .start-screen-container {
    padding-top: 15rem;
  }
  .start-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start-screen-content {
    max-width: 100%;
    margin-bottom: 10.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .start-screen-content__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    color: #FFFFFF;
  }
  .start-screen-content__title p {
    display: inline-block;
  }
  .start-screen__img-wrapper {
    max-width: 86.6%;
  }
  .start-screen__img-wrapper img {
    max-width: 56.9rem;
  }
  /* About */
  .about {
    padding: 4.2rem 0;
  }
  .about-content {
    margin-bottom: 4.2rem;
    max-width: 90%;
    text-align: justify;
  }
  .about-content__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
  }
  .about-content__title p {
    display: inline-block;
  }
  .about__img-wrapper {
    max-width: 86.6%;
  }
  /* Friends */
  .friends {
    padding-top: 4rem;
    padding-bottom: 4.2rem;
  }
  .friends__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
  }
  .friends__title p {
    display: inline-block;
  }
  .slider {
    margin: 4.2rem 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-cards {
    margin-bottom: 2rem;
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .slider-card:first-child {
    margin: 0;
  }
  .slider-card:nth-child(2) {
    display: none;
  }
  .slider-button:first-child {
    margin-right: 26.6%;
  }
  /* Help */
  .help {
    padding: 4.2rem 0;
  }
  .help__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin-bottom: 1.2rem;
  }
  .help__title p {
    display: inline-block;
  }
  .help-list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .help-list__item {
    width: 47%;
    margin: 0;
    margin-top: 3rem;
  }
  .help-list__item:nth-child(odd) {
    margin-right: 6%;
  }
  .help-list__item img {
    max-width: 35.5%;
    margin-bottom: 1.8rem;
  }
  .help-list__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
  }
  /* Donation */
  .donation {
    padding: 4.2rem 0;
  }
  .donation__img-wrapper {
    max-width: 87%;
  }
  .donation-content {
    max-width: 93.7%;
    margin-bottom: 4.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation-content__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
  }
  .donation-content__title p {
    display: inline-block;
  }
  .donation-content__bank {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    letter-spacing: 0;
  }
  .donation-content__card-number {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
  }
  .donation-content__legal {
    text-align: justify;
  }
}
/*# sourceMappingURL=main.css.map */