/* Variables */

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-background-header: url(../../assets/images/noise_transparent@2x.png), 
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$color-background-footer: url(../../assets/images/noise_transparent@2x.png), 
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

/* Fonts */

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia/Georgia.eot');
    src: local('Georgia'),
        url('../fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Georgia/Georgia.woff2') format('woff2'),
        url('../fonts/Georgia/Georgia.woff') format('woff'),
        url('../fonts/Georgia/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia/Georgia-Bold.eot');
    src: local('Georgia Bold'), local('Georgia-Bold'),
        url('../fonts/Georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Georgia/Georgia-Bold.woff2') format('woff2'),
        url('../fonts/Georgia/Georgia-Bold.woff') format('woff'),
        url('../fonts/Georgia/Georgia-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Mixin */

@mixin paragraph-l {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
}

@mixin h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;   
}

@mixin h3-mobile {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l; 
    text-align: center;  
}

@mixin h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    text-align: center;
}

@mixin h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    text-align: center;
}

@mixin button_primary {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background: $color-primary;
    border-radius: 10rem;
    border: none;
    outline: none; 
    cursor: pointer;
    padding: 1.5rem 4.5rem;
    &:hover {
        background: $color-primary-light;
    }   
}

@mixin button_secondary { 
    @include button_primary;
    background: none;
    border: 2px solid $color-primary;
    padding: 1.3rem 4.3rem;
    &:hover {
        background: $color-primary-light;
        border: 2px solid $color-primary-light;
    }
    &:disabled {
        border: 2px solid $color-dark-s;
        background: none;
        color: $color-dark-s;
        cursor: initial;
    }   
}

/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.content__img {
    display: block;
    width: 100%;
    height: auto;
}

/* Wrapper */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

@media (max-width: 1279px) {
    .wrapper { max-width: 92.18%; }
}

@media (max-width: 767px) {
    .wrapper { max-width: 93.75%; }
}

/* Header */

.header-container {
    width: 100%;
    overflow: hidden;

    h1 {
        width: 1px;
        height: 1px;
        opacity: 0;
        margin: 0 auto;
    }
}

.header {
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    transition: 300ms ease-in-out;
    &:hover { cursor: pointer; }

    &__title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3.2rem;
        letter-spacing: 0.06em;
        line-height: 110%;
    }
    
    &__subtitle {
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 1.3rem;
        letter-spacing: 0.1em;
        line-height: 110%;
        margin-top: 1rem;
        text-align: center;
    }
}

.logo.main {
    .logo__title { color: $color-primary; }
    .logo__subtitle { color: $color-light-xl; }
}

.logo.active {
    position: fixed;
    top: 30px;
    right: 124px;
    z-index: 15;   
}

.menu {

    .list {
        width: 44.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-bottom: 0.5rem;
        
        &__link {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            line-height: 160%;
        }

        &__item_active {
            padding-top: 0.3rem;
            border-bottom: 3px solid $color-primary;
        }
    }  
}

.menu.main {
    .list {
        .list__link {
            color: $color-dark-s;
            &:hover {
                color: $color-light-s;
            }  
        }  
         .list__item_active a { color: $color-light-s;}

         .list__item_disabled {
            cursor: default;
            a {
                pointer-events: none;
                text-decoration: none;
              }
          }   
    }
}

.menu.active {
    transform: translateX(-32rem);
}

.burger-menu {
    display: none;
    position: absolute;
    transform: rotate(0deg); 
    transition: 400ms ease-in-out;
    z-index: 15;
    right: 5.3rem;
    top: 4.9rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }  
}

.burger-menu.active {
    position: fixed;
    transform: rotate(90deg);
    line {
        stroke: $color-primary;
    }   
}

/* Friends */

.slider-button {
    @include button_secondary;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    padding: 0;
}

.slider-card {
    animation-name: FadeIn;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-s;
    &:hover {
        background-color: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        cursor: pointer;
    }

    &__title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2rem;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        margin-top: 3.1rem;    
    }

    &__button {
        @include button_secondary;
        margin: 3rem auto;
    }
}

.slider-card.active {
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

@keyframes FadeIn{
    0%{ opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Footer */

.footer-container { background: $color-background-footer; }
.footer {
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 4rem;

    &-content {
        display: flex;
        margin-bottom: 6rem;
        
        &__contacts {
            margin-right: 16rem;

            a:nth-child(2) {
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
        }

        &__location a:nth-child(2) {
            margin-top: 3.4rem;
            margin-bottom: 3.2rem;
            span span {
                display: block;
            }
        }

        &__title {
            @include h3;
            color: $color-light-xl;
        }
    
        &__link {
            display: flex;
            align-items: center;
            text-decoration: none;
            @include h4;
            color: $color-primary;
            text-align: left;
        }
    
        &__icon { margin-right: 2rem; }
    }
}

/* Footer tablet*/

@media (max-width: 1279px) {

    .footer {
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;

        &-content {
            justify-content: center;
            margin-bottom: 6.5rem;
            width: 100%;
            
            &__contacts {
                margin-right: 8.5%;
            }
        }
    }
}

/* Footer mobile*/

@media (max-width: 767px) {

    .footer {

        &__img-wrapper {
            max-width: 86.7%;
        }

        &-content {
            flex-direction: column;
            margin-bottom: 4rem;
            align-items: center;
            
            &__contacts {
                margin-right: 0;
                margin-bottom: 4rem;

                a { justify-content: center; }
            }

            &__location {
                a:nth-child(2) {
                margin-top: 4rem;
                margin-bottom: 4rem;
                }
            }

            &__title {
                @include h3-mobile;
                color: $color-light-xl;
                margin: 0 auto;
                max-width: 91.8vw;
                p { display: inline; }  
            }
        }
    }
}

/* Popup */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    display: flex;
    justify-content: space-between;
    background-color: $color-light-s;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    width: 900px;
    z-index: 10;

    &-content {
        padding-top: 50px;
        margin-right: 2rem;
        max-width: 35.1rem;

        &__title { 
            @include h3;
            margin-bottom: 1rem;
            text-align: left;
        }
        &__subtitle { 
            @include h4;
            margin-bottom: 4rem;
            text-align: left;
        }
        &__info {
            @include h5;
            margin-bottom: 4rem;
            text-align: left;
            line-height: 115%;
        }
    
        &__ul {
            list-style-type: none;
            list-style-position: inside;
        }
    
        &__ul li {
            @include h5;
            line-height: 115%;
            strong { font-weight: 700;}
            text-align: left;
            &:not(:last-child) { margin-bottom: 1.1rem; }
            &:before {
                content : "•";
                padding-right : .4rem;
                color : $color-primary;
               }
        }
        
    }
    
    &__img img {
            border-radius: 9px;
            width: 500px;    
        }
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    @include button_secondary;
    padding: 0;
    width: 52px;
    height: 52px;
    position: absolute;
    top: -52px;
    right: -42px;
}

.overlay {
    opacity: 0;
    position: fixed;
    transition: 200ms ease-in-out;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(41, 41, 41, 0.6);
    pointer-events: none;
    z-index: 5;
    }

.overlay.active {
    pointer-events: all;
    opacity: 1;
}


/* Popup tablet*/

@media (max-width: 1279px) {
    .popup {
        width: 630px;

        &__img img { width: 350px; }

        &-content {
            padding-top: 1rem;
            margin-right: .9rem;
            max-width: 26.2rem;

            &__subtitle { margin-bottom: 2rem; }
    
            &__info {
                font-size: 1.3rem;
                line-height: 110%;
                margin-bottom: 2rem;
            }

            &__ul li {
                line-height: 120%;
                &:not(:last-child) { margin-bottom: .5rem; }
                &:before { padding-right : .7rem; }
            }       
        }
    }
}

/* Popup mobile*/

@media (max-width: 767px) {

    .popup {
        width: 240px;
        &__img { display: none; }

        &-content {
            padding: 1rem;
            margin: 0;
            &__title { text-align: center; }
            &__subtitle { text-align: center; }
    
            &__info {
                margin-bottom: 2.4rem;
                text-align: justify;
            }     
        }
    }

    .close-button {
        right: -29px;
    }
}



